@media screen and (max-width: 990px) {

/*--- Dropdown ---*/

	#second {

		.container {

			.img-block-right {

				margin-top: 127px;

				img { width: 100%; }

			}
		}

		ul.topnav li { display: none; }

		ul.topnav li.icon {
	      float: right;
	      display: inline-block;

	    }

	    ul.topnav.responsive { 
	    	top: 39%;
	    	transform: translateY(0);
	    	background: $primary-color;
	    	z-index: 999;
	    }

	    ul.topnav.responsive li:first-child a { margin-top: 60px; }

		ul.topnav.responsive li.icon {
			position: absolute;
			right: 0;
			top: 0;
			

			a { padding: 0 !important; }
			
		}

		ul.topnav.responsive li {
			float: none;
			display: inline;
		}

		ul.topnav.responsive li a {
			display: block;
			padding: 10px 50px;
			text-align: right;
		}

	}

	/*--- End ---*/
		
	#third {

		.container {
			.text-block-left {
				h1 { margin-right: 0; }
			}	
		}

		.social-icons {
			margin: 20px 0;

			.social-box {

				.icon {
					margin: 20px 0;
				}
			}
		}
	}

	#fourth {
		.container {
			.box {
				margin: 20px 0;
			}
		}
	}

	#fifth  {


	}

	#six {
		padding: 10px 0 ;

		#graphics {
			.box-graph {
				.progress-bar { margin: 5px 0 10px 0; }
			} 
		} 
	}

	#seven {

		.gallery-box-lg {

			.image-box-lg { 

		     	margin: 10px;

		     	a {

		     		.card-text-box {

		     			margin:0;

		     			h3,p {
				     	    margin-bottom: 0px;
							font-size: 1.2rem;
						}
		     		}
		     		
		     	}
		     	
		    }
		} 

	}

	#eigth {

		.text-block-left { 
			margin: 94px 0;
		}

		.card-price {
			width:150px;

			h2 {
				font: 2.0rem "LatoReg";
    			margin-bottom: 40px;
			}
			
			p {

		   		span:first-child {
				    margin-right: 12px;
				    font-size: 2.0rem;
				}
			}

			ul li { padding: 5px; } 

			a { margin-bottom: 20px; }
		}

	}

	#form {

		.text-block-left { 
				padding: 0 15px;
			}

		form {
			margin-bottom: 13px;

			[type="text"] { width: 100%; }

			.col-md-3,
			.col-md-12 { padding: 0 15px; }

		button { margin-top: 13px; }
		}
		
	  }

	}

	#footer {

		p {
			padding: 20px 0;	
		}
	    
	}

