@font-face  {
	font-family: 'LatoBlack';
    src: url('../fonts/Lato-Black/Lato-Black.eot');
    src: url('../fonts/Lato-Black/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Black/Lato-Black.woff') format('woff'),
    url('../fonts/Lato-Black/Lato-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;   
}	

@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: "Lato-Bold";
    src: url("../fonts/Lato-Bold/Lato-Bold.eot");
    src: url("../fonts/Lato-Bold/Lato-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato-Bold/Lato-Bold.woff") format("woff"),
    url("../fonts/Lato-Bold/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoReg";
    src: url("../fonts/LatoReg/Lato-Regular.eot");
    src: url("../fonts/LatoReg/Lato-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/LatoReg/Lato-Regular.woff") format("woff"),
    url("../fonts/LatoReg/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Arimo-Bold";
    src: url("../fonts/Arimo-Bold/Arimo-Bold.eot");
    src: url("../fonts/Arimo-Bold/Arimo-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Arimo-Bold/Arimo-Bold.woff") format("woff"),
    url("../fonts/Arimo-Bold/Arimo-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans-Extrabold";
    src: url("../fonts/OpenSans-Extrabold/OpenSans-Extrabold.eot");
    src: url("../fonts/OpenSans-Extrabold/OpenSans-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Extrabold/OpenSans-Extrabold.woff") format("woff"),
    url("../fonts/OpenSans-Extrabold/OpenSans-Extrabold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular/OpenSans.eot");
    src: url("../fonts/OpenSans-Regular/OpenSans.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular/OpenSans.woff") format("woff"),
    url("../fonts/OpenSans-Regular/OpenSans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



	 	 

